nav img:first-of-type {
    width: 50px;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    align-items: center;
}


footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}

footer img {
    width: 50px;
    height: 50px;
}

#grid-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
}

#grid-item {
    display: grid;
}

#grid-item {
    align-items: center;
    justify-items: auto;
}

#grid-container2 > button {
    width: 100px;
    height: 30px;
    background-color: #333;
    border: solid 3px;
    color: #ecd698;
    font-weight: bold;
    gap: 5px;
    border-radius: 5px;
    margin-top: 120px;
}

#grid-container2 > button:hover {
    background-color: #ecd698;
    color: black;
    border-color: #ecd698;
}

#grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 110px);
}